In [12]:
import pandas as pd

ratings = [['john',5,5,2,1],['mary',4,5,3,2],['bob',4,4,4,3],['lisa',2,2,4,5],['lee',1,2,3,4],['harry',2,1,5,5]]
titles = ['user','Jaws','Star Wars','Exorcist','Omen']
movies = pd.DataFrame(ratings,columns=titles)
print(movies)

    user  Jaws  Star Wars  Exorcist  Omen
0   john     5          5         2     1
1   mary     4          5         3     2
2    bob     4          4         4     3
3   lisa     2          2         4     5
4    lee     1          2         3     4
5  harry     2          1         5     5

In [13]:
from sklearn import cluster

data = movies.drop("user",axis=1)
k_means = cluster.KMeans(n_clusters=2,max_iter = 50, random_state=1)
k_means.fit(data)
labels = k_means.labels_
pd.DataFrame(labels,index=movies.user,columns=["Clueter_ID"])

C:\Users\cui10\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
C:\Users\cui10\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1440: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

       Clueter_ID
user
john            0
mary            0
bob             0
lisa            1
lee             1
harry           1

In [14]:
centriods = k_means.cluster_centers_
pd.DataFrame(centriods,columns=data.columns)

       Jaws  Star Wars  Exorcist      Omen
0  4.333333   4.666667       3.0  2.000000
1  1.666667   1.666667       4.0  4.666667

In [15]:
import numpy as np

testData = np.array([[4,5,1,2],[3,2,4,4],[2,3,4,1],[3,2,3,3],[5,4,1,4]])
labels = k_means.predict(testData)
labels = labels.reshape(-1,1)
usernames = np.array(['paul','kim','liz','tom','bill']).reshape(-1,1)
cols = movies.columns.tolist()
cols.append('Cluster ID')
newusers = pd.DataFrame(np.concatenate((usernames, testData, labels), axis=1),columns=cols)
newusers

C:\Users\cui10\anaconda3\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

   user Jaws Star Wars Exorcist Omen Cluster ID
0  paul    4         5        1    2          0
1   kim    3         2        4    4          1
2   liz    2         3        4    1          0
3   tom    3         2        3    3          1
4  bill    5         4        1    4          0